    </div> <!-- content -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="">Pozovite i zakažite</h5>
                    <p class="grey-text text-lighten-4">
                        Fena DOO - Servis i radionica za tahografe <br>
                        ul. Dobri Španca 47a, 16000 Leskovac 
                        <ul>
                            <li>tel: +38116281314</li>
                            <li>mob: +381665412973</li>
                            <li class="mail">mejl: <span class="white-text email">fenaleskovac&#64;gmail.com</span></li> 
                        </ul>
                        
                        Radno vreme:<br>
                        pon - pet: 9-17h <br>
                        sub: 9-12h 
                        
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="">Resursi</h5>
                    <ul>
                        <li> <a href="http://www.abs.gov.rs/%D1%81%D1%80/tahografi/propisi">Spisak propisa koji se tiču tahografa.</a> </li>
                        <li><a class="" href="https://www.paragraf.rs/obrasci/5253_ID.pdf">Potvrda o aktivnostima vozača</a></li>
                        <li> <object class="logo-footer" type="image/svg+xml" data="assets/img/fena-logo.svg"> </object> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Fena DOO Leskovac 
                <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
        </div>
    </footer>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script type="text/javascript">
      // M.AutoInit();
      
      document.addEventListener('DOMContentLoaded', function() {
           var elems = document.querySelectorAll('.sidenav');
           var options = {edge: 'left'};
           var instances = M.Sidenav.init(elems, options);
       });
       
       
     // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
      // var collapsibleElem = document.querySelector('.collapsible');
      // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);
      
  </script>
    
</body>
</html>
