<!DOCTYPE html>
<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro" rel="stylesheet"> 
      <link rel="stylesheet" href="css/style.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
        	<li><a href="#!">one</a></li>
        	<li><a href="#!">two</a></li>
        	<li class="divider"></li>
        	<li><a href="#!">three</a></li>
        </ul>
        <nav>
        	<div class="nav-wrapper">
                <div class="container">
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            		<!-- activate side-bav in mobile view -->
                		<a href="index.html" class="brand-logo">Fena
                            <!-- <object class="fena-logo" type="image/svg+xml" data="assets/img/fena-logo.svg"> </object> -->
                            <!-- <img class="fena-logo" src="assets/img/fena-logo-boja.svg" alt=""> -->
                        </a>
            		<ul class="right hide-on-med-and-down">
            			<li><a href="cpp.html">Česta pitanja</a></li>
            			<li><a href="o-nama.html">O nama</a></li>
                        
            			<!-- Dropdown Trigger -->
            		</ul>
                </div>
        	</div>
        </nav>

         <ul id="slide-out" class="sidenav">
           <li>
               <div class="user-view">
                 <div class="background">
                   <!-- <img src="assets/img/fena-logo.svg"> -->
                 </div>
                 <!-- <a href="#user"><img class="circle" src="images/fena-grb.svg"></a> -->
                 <!-- <a href="#name"><span class="white-text name">John Doe</span></a> -->
                 <!-- <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a> -->
               </div>
           </li>
           <!-- <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li> -->
                   <img src="assets/img/fena-logo.svg">
           <li><a href="o-nama.html">O nama.html</a></li>
           <li><a href="cpp.html">Česta pitanja</a></li>
           <li><div class="divider"></div></li>
           <!-- <li><a class="subheader">Subheader</a></li> -->
           <!-- <li><a class="waves-effect" href="#!">Third Link With Waves</a></li> -->
           <li>Tel: 016 281 314</li>
           <li>Mob: 066 5 412 973</li>
           <li>Adresa: Dobri Španca 47a, Leskovac</li>
           
           
         </ul>
  
        <div class="container">
